[global]
slicers = slic3r
slicer = slic3r
startpane = 1

[slicer.slic3r]
command = /home/jeff/Slic3r/bin/slic3r --load "%profile%"  --load "%printer%" --load "%filament%" "%stl%" -o "%slicegcode%"
config = /home/jeff/Slic3r/bin/slic3r 
profile = normal
profilefile = /home/jeff/.Slic3r/print/normal.ini
filament = PLA
filamentfile = /home/jeff/.Slic3r/filament/PLA.ini
printer = ob1
printerfile = /home/jeff/.Slic3r/filament/ob1.ini
profiledir = /home/jeff/.Slic3r

[fileprep]
gcodescale = 3
laststldirectory = 
lastgcdirectory = 
showprevious = False
showmoves = False
usebuffereddc = False

[plater]
stlscale = 2
lastdirectory = 
autoarrange = True

[manualctl]
xyspeed = 2000.0
zspeed = 300
espeed = 300
edistance = 5

[printmon]
gcodescale = 3
showprevious = True
showmoves = True
usebuffereddc = True

