[global]
slicers = slic3r
slicer = slic3r
printers = ob1,mi3
printer = ob1
startpane = 1

[slicer.slic3r]
command = /home/jeff/Slic3r/bin/slic3r --load "%profile%"  --load "%printer%" --load "%filament%" "%stl%" -o "%slicegcode%"
config = /home/jeff/Slic3r/bin/slic3r 
profile = PLA
profiledir = /home/jeff/.Slic3r

[fileprep]
gcodescale = 3
lastdirectory = O:\OpenSCAD\Snap-Together_Robohand
showprevious = False
showmoves = False
usebuffereddc = False

[plater]
stlscale = 2
lastdirectory = O:\stl files
autoarrange = True

[manualctl]
xyspeed = 2000.0
zspeed = 300
espeed = 300
edistance = 5

[printmon]
gcodescale = 3
showprevious = True
showmoves = True
usebuffereddc = True

